header{
  border:1px solid red;
  height:100px;
}
footer{
  border:1px solid brown;
  height:100px;
}
.main-aside,.main-section{
  border:1px solid yellow;
  height:200px;
}
.nav{
  justify-content: flex-end;
}